<?xml version="1.0"?>
<connectionStrings>
  <remove name="umbracoDbDSN" />
  <add name="umbracoDbDSN" connectionString="Server=DESKTOP-9M86MSH\SQLEXPRESS;Database=umbraco-doh;Integrated Security=true" providerName="System.Data.SqlClient" />
  <!-- Important: If you're upgrading Umbraco, do not clear the connection string / provider name during your web.config merge. -->
</connectionStrings>
